.App {
  text-align: center;
  background-image: url(https://previews.123rf.com/images/onyxprj/onyxprj1810/onyxprj181001446/109434141-cinema-pattern-seamless-background-with-symbols-of-cinema-and-films-production-vector-cinema-product.jpg);
}
.color {
  color: rgb(255, 180, 167);
}
