.App {
  text-align: center;
  background-image: url(https://img.freepik.com/free-photo/arrangement-film-elements-red-background-with-copy-space_23-2148457861.jpg?size=626&ext=jpg);
}
.color {
  color: rgb(24, 22, 22);
}
.colour {
  background-color: rgb(100, 90, 89);
}
